<div class="col-md-4 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-4">
    <p class="h2 mb-4">Nie znaleziono żadnych lotów</p>
        <p class="h5 mb-4">W podanych datach miejsca są już zajęte lub loty nie są obsługiwane. Zmień kryteria wyszukiwania i spróbuj jeszcze raz!</p>
    <div class="col">
</div>

  <%= link_to 'Powrót do wyszukiwania', root_path, class: 'btn btn-dark' %>
</div>
