<div class="col-12">
  <h2><%= @airplane.model %></h2>
</div>
<div class="row">
<div class="col">
  <p>Miejsca w klasie ekonomicznej: <%= @airplane.economy_seats %></p>
  <p>Miejsca w klasie biznesowej: <%= @airplane.business_seats %></p>
</div>