<nav>
  <ul class="nav masthead-nav">
    <li class="active"><a href="/admin/home">Strona główna</a></li>
    <li><a href="/airports">Lotniska</a></li>
    <li><a href="/flights">Loty</a></li>
  </ul>
</nav>
