<div class="col-md-4 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 margin-top margin-bottom">
    <p class="h3 mb-4">Witaj <%= current_user.first_name %></p>
  </div>
</div>