<div class="col-12">
<div class="inner cover">
  <h1 class="cover-heading">Panel admina</h1>
  <p class="lead">Zarządzaj lotami. </p>
  <p class="lead">
    <%= link_to "Nowe lotnisko", new_airport_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Nowy lot", new_flight_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
</div>