<div class="col-md-4 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-4">
    <p class="h3 mb-4 font-weight-bold">Regulamin</span></p>
    <div class="row text-left">
    </div>
      <h6>
§1 Postanowienia ogólne </br>
§2 Definicje </br>
§3 Zasady ogólne rezerwacji przelotów lotniczych </br>
§4 Rezerwacja przelotu lotniczego </br>
§5 Cena biletu lotniczego </br>
§6 Formy płatności  </br>
§7 Warunki anulowania rezerwacji przez Klienta </br>
§8 Obsługa posprzedażowa </br>
§9 Postępowanie reklamacyjne </br>
§10 Ochrona danych osobowych </br>
      </h6>
  </div>
