<div class="col-md-4 col-md-offset-4"></div>
  <div class="text-center border bg-light border-light p-5 col-4">
    <p class="h2 mb-4">Nie znaleziono żadnych biletów</p>
        <p class="h5 mb-4">Na ten lot nie ma jeszcze zarezerwowanych biletów</p>
    <div class="col">
</div>
</div>
