<div class="col-12">
<h2>Edycja Lotniska</h2>
</div>
<div class="col-3">
  </div>
<div class="col-3">
  <%= render 'form', airport: @airport %>
  <%= link_to 'Pokaż', @airport,class: 'btn btn-secondary' %>
  <%= link_to 'Wróć', airports_path, class: 'btn btn-secondary' %>
</div>
<div class="col-3">
</div>
</div>