<div class="col-12">
<div class="inner cover">
  <h1 class="cover-heading">Poleć na wymarzone wakacje</h1>
  <p class="lead">
    <%= link_to "Wyszukaj loty", search_path, class: "btn btn-lg btn-secondary" %>
  </p>
  
</div>
</div>