@import "bootstrap";
@import "gritter";

body {
	font-family: 'Montserrat', sans-serif;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
  	background-attachment: fixed;

}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;  
    font-family: 'Montserrat', sans-serif;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
}

.margin-top-bottom {
	margin-top: 100px;
	margin-bottom: 100px;
}

.field_with_errors input {
  border: 2px solid #c4444;
}

.booking-cta {
  margin-top: 80px;
  margin-bottom: 30px;
}

.booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.booking-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.red {
    color: #f99;
    font-weight: bold;
}
.yellow {
    color: #ff9;
    font-weight: bold;
}
.green {
    color: OliveDrab;
    font-weight: bold;
}